.container {
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row-start: 1; /* linha onde a caixa começa */
    grid-row-end: 2;   /* linha onde a caixa termina */
    grid-column-start: 1; /* coluna onde a caixa começa */
    grid-column-end: 5;  /* coluna onde a caixa termina */
}

.caixa2 {
    background-color: green;
    grid-row-start: 2; /* linha onde a caixa começa */
    grid-row-end: 4;   /* linha onde a caixa termina */
    grid-column-start: 1; /* coluna onde a caixa começa */
    grid-column-end: 3;  /* coluna onde a caixa termina */
}

.caixa3 {
    background-color: blue; 
    grid-row-start: 2;        
    grid-row-end: 4;         
    grid-column-start: 3;
    grid-column-end: 5;
}

/* simplificação do código 
    grid-row: 1 / 2;
    grid-column: 1 / 5;
*/